%%-*- mode: erlang -*-
%% ex: ts=4 sw=4 et

{erl_opts, [warnings_as_errors, debug_info]}.

{edoc_opts, [{preprocess, true}]}.

{cover_enabled, true}.

{deps_dir, ["deps"]}.
{deps, [
       {rebar_js_uglifier_plugin, ".*",
        {git, "git://github.com/cmeiklejohn/rebar_js_uglifier_plugin.git", {branch, "master"}}}
]}.
