%%-*- mode: erlang -*-
%% ex: ts=4 sw=4 et

{deps_dir, ["deps"]}.
{deps, [
       {rebar_js_uglifier_plugin, ".*",
        {git, "git://github.com/cmeiklejohn/rebar_js_uglifier_plugin.git", {branch, "master"}}},
       {rebar_js_minispade_plugin, ".*",
        {git, "git://github.com/cmeiklejohn/rebar_js_minispade_plugin.git", {branch, "master"}}}
]}.
